
<nav class="navbar navbar-default navbar-static-top nav-color">
  <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="header-title">New York</h1>
        </div>
        <div class="col-sm-6 align-right">
          <p class="header-info">
            <span class="love">♥</span>
          </p>
        </div>
      </div>
    </div>
</nav>
<section class="form">
  <form name="formUser" novalidate ng-submit="signup.create(formUser.$valid)">

    <h4 class="form-title">Cadastre suas informações</h4>

    <div class="image-signin">
      <p class="without-image">
        <i class="fa fa-user"></i>
      </p>

      <div>Upload</div>
    </div>
    <div class="form-children">

      <div class="form-group">
        <input type="text" name="firstName" class="form-control" placeholder="Nome Completo" ng-model="signup.model.name" required>
        <div class="error" ng-show="formUser.firstName.$dirty && formUser.firstName.$invalid">
          <small class="error" ng-show="formUser.firstName.$error.required">
              Nome é obrigatório.
          </small>
        </div>
      </div>
      <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="email@email.com" ng-model="signup.model.email" required>
        <div class="error" ng-show="formUser.email.$dirty && formUser.email.$invalid">
          <small class="error" ng-show="formUser.email.$error.required">
              Email é obrigatório.
          </small>
          <small class="error" ng-show="formUser.email.$error.email">
             Este email é invalido.
          </small>
        </div>
      </div>
       <div class="form-group">
        <input type="text" class="form-control col-override" name="login" placeholder="Login" ng-model="signup.model.login" required>
        <div class="error" ng-show="formUser.login.$dirty && formUser.login.$invalid">
          <small class="error" ng-show="formUser.login.$error.required">
              Login é obrigatório.
          </small>
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control col-override" name="password" placeholder="Senha" ng-model="signup.model.password" required>
        <div class="error" ng-show="formUser.password.$dirty && formUser.password.$invalid">
          <small class="error" ng-show="formUser.password.$error.required">
              Senha é obrigatório.
          </small>
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control col-override" name="confirmPassword" placeholder="Confirmar Senha" ng-model="signup.model.confirmPassword" required>
        <div class="error" ng-show="formUser.confirmPassword.$dirty && formUser.confirmPassword.$invalid">
          <small class="error" ng-show="formUser.confirmPassword.$error.required">
              Confirma senha é obrigatório.
          </small>
        </div>
      </div>
      <button type="submit" class="btn btn-new btn-width">Cadastrar</button>
      <p class="lostPassword"><a ui-sref="login">Já possui uma conta?</a></p>
    </div>
  </form>
</section>
